# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Production
dist/
dist-ssr/
*.local

# Scanner Artifacts (Don't commit recorded videos)
backend/data/media/

# Logs
logs
*.log
npm-debug.log*

# Environment
.env
.env.local

# OS Files
.DS_Store
Thumbs.db
